sudo: required

language: generic

services:
  - docker

before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-engine
  - docker build -t vyzyv/numpp .
  - docker run vyzyv/numpp /bin/sh -c "cd /tmp/numpp/tests/functionality; make"

script:
  - make

after_success:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker push vyzyv/numpp
